.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("https://wallpaperaccess.com/full/1261646.jpg");
  background-size: cover;
  position: relative;
}
