#background{

    background-image: url("../../../../public/assets/resort.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-teste{
  display: flex;
}
#carrousel-group{background: white;


}
.main{
  justify-content: center;
  display: flex;
      flex-direction: column;
      margin-left: 100px;
      margin-right: 100px;
}
