#background{

    background-image: url("../../../../public/assets/resort.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#carrousel-group{background: white;


}