.form-perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#itens-perguntas-group {
  display: flex;
justify-items: center;
  text-align: center;
 
}
#itens-perguntas-group label {
  margin-right: 10px;
}
